Deployable/phylipProtDist/serviceJar/wsPhylipProtDist.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. -->

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsannotations.ctegd.uga.edu/services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsannotations.ctegd.uga.edu/services/" name="wsPhylipProtDist">
<types>
<xs:schema xmlns:tns="http://wsannotations.ctegd.uga.edu/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsannotations.ctegd.uga.edu/services/">

<xs:element name="ErrorRetrievingJob" nillable="true" type="tns:fault"/>

<xs:element name="ImproperInputsFault" nillable="true" type="tns:fault"/>

<xs:element name="UnexpectedErrorFault" nillable="true" type="tns:fault"/>

<xs:element name="getStatus" type="tns:getStatus"/>

<xs:element name="getStatusResponse" type="tns:getStatusResponse"/>

<xs:element name="protdist" type="tns:protdist"/>

<xs:element name="protdistDefaultParameters" type="tns:protdistDefaultParameters"/>

<xs:element name="protdistDefaultParametersResponse" type="tns:protdistDefaultParametersResponse"/>

<xs:element name="protdistResponse" type="tns:protdistResponse"/>

<xs:element name="retrieveProtDistResult" type="tns:retrieveProtDistResult"/>

<xs:element name="retrieveProtDistResultResponse" type="tns:retrieveProtDistResultResponse"/>

<xs:complexType name="retrieveProtDistResult">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveProtDistResultResponse">
<xs:sequence>
<xs:element name="proteinDistanceMatrix" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fault">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatus">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatusResponse">
<xs:sequence>
<xs:element name="jobStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="protdist">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
<xs:element name="GammaDistrOfRates" type="xs:string" minOccurs="0"/>
<xs:element name="CoeffOfVariation" type="xs:double" minOccurs="0"/>
<xs:element name="fracOfInvSites" type="xs:double" minOccurs="0"/>
<xs:element name="oneCatOfSubRates" type="xs:string" minOccurs="0"/>
<xs:element name="noOfCat" type="xs:int" minOccurs="0"/>
<xs:element name="rateForEachCat" type="xs:string" minOccurs="0"/>
<xs:element name="categoriesFile" type="xs:string" minOccurs="0"/>
<xs:element name="UseWts4Posn" type="xs:string" minOccurs="0"/>
<xs:element name="weightsFile" type="xs:string" minOccurs="0"/>
<xs:element name="analyzeMultipleDataSets" type="xs:string" minOccurs="0"/>
<xs:element name="DataWeights" type="xs:string" minOccurs="0"/>
<xs:element name="noOfMultipleDataSets" type="xs:int" minOccurs="0"/>
<xs:element name="inputSequencesInterleaved" type="xs:string" minOccurs="0"/>
<xs:element name="transitionTransversion" type="xs:double" minOccurs="0"/>
<xs:element name="baseFreq" type="xs:string" minOccurs="0"/>
<xs:element name="ProbChangeCat" type="xs:double" minOccurs="0"/>
<xs:element name="geneticCode" type="xs:string" minOccurs="0"/>
<xs:element name="catOfAminoAcids" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="protdistResponse">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="protdistDefaultParameters">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="protdistDefaultParametersResponse">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"/>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"/>
</message>
<message name="ImproperInputEx">
<part name="fault" element="tns:ImproperInputsFault"/>
</message>
<message name="protdist">
<part name="parameters" element="tns:protdist"/>
</message>
<message name="protdistResponse">
<part name="parameters" element="tns:protdistResponse"/>
</message>
<message name="protdistDefaultParameters">
<part name="parameters" element="tns:protdistDefaultParameters"/>
</message>
<message name="protdistDefaultParametersResponse">
<part name="parameters" element="tns:protdistDefaultParametersResponse"/>
</message>
<message name="UnexpectedErrorEx">
<part name="fault" element="tns:UnexpectedErrorFault"/>
</message>
<message name="retrieveProtDistResult">
<part name="parameters" element="tns:retrieveProtDistResult"/>
</message>
<message name="retrieveProtDistResultResponse">
<part name="parameters" element="tns:retrieveProtDistResultResponse"/>
</message>
<message name="ErrorRetrievingJob">
<part name="fault" element="tns:ErrorRetrievingJob"/>
</message>
<portType name="wsPhylipProtDist">
<operation name="getStatus">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/getStatusResponse" message="tns:getStatusResponse"/>
<fault message="tns:ImproperInputEx" name="ImproperInputEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/getStatus/Fault/ImproperInputEx"/>
</operation>
<operation name="protdist">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/protdistRequest" message="tns:protdist"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/protdistResponse" message="tns:protdistResponse"/>
<fault message="tns:ImproperInputEx" name="ImproperInputEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/protdist/Fault/ImproperInputEx"/>
</operation>
<operation name="protdistDefaultParameters">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/protdistDefaultParametersRequest" message="tns:protdistDefaultParameters"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/protdistDefaultParametersResponse" message="tns:protdistDefaultParametersResponse"/>
<fault message="tns:ImproperInputEx" name="ImproperInputEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/protdistDefaultParameters/Fault/ImproperInputEx"/>
<fault message="tns:UnexpectedErrorEx" name="UnexpectedErrorEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/protdistDefaultParameters/Fault/UnexpectedErrorEx"/>
</operation>
<operation name="retrieveProtDistResult">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/retrieveProtDistResultRequest" message="tns:retrieveProtDistResult"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/retrieveProtDistResultResponse" message="tns:retrieveProtDistResultResponse"/>
<fault message="tns:UnexpectedErrorEx" name="UnexpectedErrorEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/retrieveProtDistResult/Fault/UnexpectedErrorEx"/>
<fault message="tns:ErrorRetrievingJob" name="ErrorRetrievingJob" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/retrieveProtDistResult/Fault/ErrorRetrievingJob"/>
<fault message="tns:ImproperInputEx" name="ImproperInputEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtDist/retrieveProtDistResult/Fault/ImproperInputEx"/>
</operation>
</portType>
<binding name="wsPhylipProtDistPortBinding" type="tns:wsPhylipProtDist">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImproperInputEx">
<soap:fault name="ImproperInputEx" use="literal"/>
</fault>
</operation>
<operation name="protdist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImproperInputEx">
<soap:fault name="ImproperInputEx" use="literal"/>
</fault>
</operation>
<operation name="protdistDefaultParameters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImproperInputEx">
<soap:fault name="ImproperInputEx" use="literal"/>
</fault>
<fault name="UnexpectedErrorEx">
<soap:fault name="UnexpectedErrorEx" use="literal"/>
</fault>
</operation>
<operation name="retrieveProtDistResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnexpectedErrorEx">
<soap:fault name="UnexpectedErrorEx" use="literal"/>
</fault>
<fault name="ErrorRetrievingJob">
<soap:fault name="ErrorRetrievingJob" use="literal"/>
</fault>
<fault name="ImproperInputEx">
<soap:fault name="ImproperInputEx" use="literal"/>
</fault>
</operation>
</binding>
<service name="wsPhylipProtDist">
<port name="wsPhylipProtDistPort" binding="tns:wsPhylipProtDistPortBinding">
<soap:address location="http://localhost:8080/wsPHYLIP/wsPhylipProtDist"/>
</port>
</service>
</definitions>
