Deployable/phylipNeighbor/WSDL/wsPhylipNeighbor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://wsannotations.ctegd.uga.edu/services/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wsannotations.ctegd.uga.edu/services/">
    <wsdl:types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://wsannotations.ctegd.uga.edu/services/">
            <xsd:element name="ErrorRetrievingJob" nillable="true" type="tns:fault"/>
            <xsd:element name="ImproperInputsFault" nillable="true" type="tns:fault"/>
            <xsd:element name="UnexpectedErrorFault" nillable="true" type="tns:fault"/>
            <xsd:element name="getStatus" type="tns:getStatus"/>
            <xsd:element name="getStatusResponse" type="tns:getStatusResponse"/>
            <xsd:element name="retrieveNeighborResult" type="tns:retrieveNeighborResult"/>
            <xsd:element name="retrieveNeighborResultResponse" type="tns:retrieveNeighborResultResponse"/>
            <xsd:element name="runNeighbor" type="tns:runNeighbor"/>
            <xsd:element name="runNeighborDefaultParam" type="tns:runNeighborDefaultParam"/>
            <xsd:element name="runNeighborDefaultParamResponse" type="tns:runNeighborDefaultParamResponse"/>
            <xsd:element name="runNeighborResponse" type="tns:runNeighborResponse"/>
            <xsd:complexType name="runNeighbor">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="proteinDistanceMatrix" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="clusteringMethod" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="USElowerTriangular" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="USEupperTrangular" type="xsd:boolean"/>
                    <xsd:element minOccurs="0" name="USEsubReplicates" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="runNeighborResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="JobId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="fault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getStatusResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobStatus" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="retrieveNeighborResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="retrieveNeighborResultResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="tns:phylipOutput"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="phylipOutput">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="consenseTree" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="outTree" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="runNeighborDefaultParam">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="proteinDistanceMatrix" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="clusteringMethod" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="runNeighborDefaultParamResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="JobId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="retrieveNeighborResult">
        <wsdl:part name="parameters" element="tns:retrieveNeighborResult"/>
    </wsdl:message>
    <wsdl:message name="retrieveNeighborResultResponse">
        <wsdl:part name="parameters" element="tns:retrieveNeighborResultResponse"/>
    </wsdl:message>
    <wsdl:message name="ErrorRetrievingJob">
        <wsdl:part name="fault" element="tns:ErrorRetrievingJob"/>
    </wsdl:message>
    <wsdl:message name="UnexpectedErrorEx">
        <wsdl:part name="fault" element="tns:UnexpectedErrorFault"/>
    </wsdl:message>
    <wsdl:message name="ImproperInputEx">
        <wsdl:part name="fault" element="tns:ImproperInputsFault"/>
    </wsdl:message>
    <wsdl:message name="runNeighbor">
        <wsdl:part name="parameters" element="tns:runNeighbor"/>
    </wsdl:message>
    <wsdl:message name="runNeighborResponse">
        <wsdl:part name="parameters" element="tns:runNeighborResponse"/>
    </wsdl:message>
    <wsdl:message name="getStatus">
        <wsdl:part name="parameters" element="tns:getStatus"/>
    </wsdl:message>
    <wsdl:message name="getStatusResponse">
        <wsdl:part name="parameters" element="tns:getStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="runNeighborDefaultParam">
        <wsdl:part name="parameters" element="tns:runNeighborDefaultParam"/>
    </wsdl:message>
    <wsdl:message name="runNeighborDefaultParamResponse">
        <wsdl:part name="parameters" element="tns:runNeighborDefaultParamResponse"/>
    </wsdl:message>
    <wsdl:portType name="wsPhylipNeighborPortType">
        <wsdl:operation name="retrieveNeighborResult">
            <wsdl:input message="tns:retrieveNeighborResult" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/retrieveNeighborResultRequest"/>
            <wsdl:output message="tns:retrieveNeighborResultResponse" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/retrieveNeighborResultResponse"/>
            <wsdl:fault message="tns:ErrorRetrievingJob" name="ErrorRetrievingJob" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/retrieveNeighborResult/Fault/ErrorRetrievingJob"/>
            <wsdl:fault message="tns:UnexpectedErrorEx" name="UnexpectedErrorEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/retrieveNeighborResult/Fault/UnexpectedErrorEx"/>
            <wsdl:fault message="tns:ImproperInputEx" name="ImproperInputEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/retrieveNeighborResult/Fault/ImproperInputEx"/>
        </wsdl:operation>
        <wsdl:operation name="runNeighbor">
            <wsdl:input message="tns:runNeighbor" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/runNeighborRequest"/>
            <wsdl:output message="tns:runNeighborResponse" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/runNeighborResponse"/>
            <wsdl:fault message="tns:UnexpectedErrorEx" name="UnexpectedErrorEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/runNeighbor/Fault/UnexpectedErrorEx"/>
            <wsdl:fault message="tns:ImproperInputEx" name="ImproperInputEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/runNeighbor/Fault/ImproperInputEx"/>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <wsdl:input message="tns:getStatus" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/getStatusRequest"/>
            <wsdl:output message="tns:getStatusResponse" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/getStatusResponse"/>
            <wsdl:fault message="tns:ImproperInputEx" name="ImproperInputEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/getStatus/Fault/ImproperInputEx"/>
        </wsdl:operation>
        <wsdl:operation name="runNeighborDefaultParam">
            <wsdl:input message="tns:runNeighborDefaultParam" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/runNeighborDefaultParamRequest"/>
            <wsdl:output message="tns:runNeighborDefaultParamResponse" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/runNeighborDefaultParamResponse"/>
            <wsdl:fault message="tns:UnexpectedErrorEx" name="UnexpectedErrorEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/runNeighborDefaultParam/Fault/UnexpectedErrorEx"/>
            <wsdl:fault message="tns:ImproperInputEx" name="ImproperInputEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipNeighbor/runNeighborDefaultParam/Fault/ImproperInputEx"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="wsPhylipNeighborPortBinding" type="tns:wsPhylipNeighborPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="retrieveNeighborResult">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ErrorRetrievingJob">
                <soap:fault use="literal" name="ErrorRetrievingJob"/>
            </wsdl:fault>
            <wsdl:fault name="UnexpectedErrorEx">
                <soap:fault use="literal" name="UnexpectedErrorEx"/>
            </wsdl:fault>
            <wsdl:fault name="ImproperInputEx">
                <soap:fault use="literal" name="ImproperInputEx"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runNeighbor">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnexpectedErrorEx">
                <soap:fault use="literal" name="UnexpectedErrorEx"/>
            </wsdl:fault>
            <wsdl:fault name="ImproperInputEx">
                <soap:fault use="literal" name="ImproperInputEx"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ImproperInputEx">
                <soap:fault use="literal" name="ImproperInputEx"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="runNeighborDefaultParam">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnexpectedErrorEx">
                <soap:fault use="literal" name="UnexpectedErrorEx"/>
            </wsdl:fault>
            <wsdl:fault name="ImproperInputEx">
                <soap:fault use="literal" name="ImproperInputEx"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="wsPhylipNeighbor">
        <wsdl:port name="wsPhylipNeighborPort" binding="tns:wsPhylipNeighborPortBinding">
            <soap:address location="http://wsannotations.ctegd.uga.edu/axis2/services/wsPhylipNeighbor.wsPhylipNeighborPort/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
