web/WEB-INF/wsdl/localhost_8080/wsPHYLIP/phylip.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://phylipWrappers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://phylipWrappers/" name="phylip">
<types>
<xsd:schema>
<xsd:import namespace="http://phylipWrappers/" schemaLocation="http://localhost:8080/wsPHYLIP/phylip?xsd=1" />
</xsd:schema>
</types>
<message name="getStatus">
<part name="parameters" element="tns:getStatus" />
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse" />
</message>
<message name="fault">
<part name="fault" element="tns:fault" />
</message>
<message name="consenseRootedTrees">
<part name="parameters" element="tns:consenseRootedTrees" />
</message>
<message name="consenseRootedTreesResponse">
<part name="parameters" element="tns:consenseRootedTreesResponse" />
</message>
<message name="consenseNonRootedTrees">
<part name="parameters" element="tns:consenseNonRootedTrees" />
</message>
<message name="consenseNonRootedTreesResponse">
<part name="parameters" element="tns:consenseNonRootedTreesResponse" />
</message>
<message name="protdist">
<part name="parameters" element="tns:protdist" />
</message>
<message name="protdistResponse">
<part name="parameters" element="tns:protdistResponse" />
</message>
<message name="protdistDefaultParameters">
<part name="parameters" element="tns:protdistDefaultParameters" />
</message>
<message name="protdistDefaultParametersResponse">
<part name="parameters" element="tns:protdistDefaultParametersResponse" />
</message>
<message name="RetrieveProtDistResult">
<part name="parameters" element="tns:RetrieveProtDistResult" />
</message>
<message name="RetrieveProtDistResultResponse">
<part name="parameters" element="tns:RetrieveProtDistResultResponse" />
</message>
<portType name="phylip">
<operation name="getStatus">
<input wsam:Action="http://phylipWrappers/phylip/getStatusRequest" message="tns:getStatus" />
<output wsam:Action="http://phylipWrappers/phylip/getStatusResponse" message="tns:getStatusResponse" />
<fault message="tns:fault" name="fault" wsam:Action="http://phylipWrappers/phylip/getStatus/Fault/fault" />
</operation>
<operation name="consenseRootedTrees">
<input wsam:Action="http://phylipWrappers/phylip/consenseRootedTreesRequest" message="tns:consenseRootedTrees" />
<output wsam:Action="http://phylipWrappers/phylip/consenseRootedTreesResponse" message="tns:consenseRootedTreesResponse" />
</operation>
<operation name="consenseNonRootedTrees">
<input wsam:Action="http://phylipWrappers/phylip/consenseNonRootedTreesRequest" message="tns:consenseNonRootedTrees" />
<output wsam:Action="http://phylipWrappers/phylip/consenseNonRootedTreesResponse" message="tns:consenseNonRootedTreesResponse" />
</operation>
<operation name="protdist">
<input wsam:Action="http://phylipWrappers/phylip/protdistRequest" message="tns:protdist" />
<output wsam:Action="http://phylipWrappers/phylip/protdistResponse" message="tns:protdistResponse" />
<fault message="tns:fault" name="fault" wsam:Action="http://phylipWrappers/phylip/protdist/Fault/fault" />
</operation>
<operation name="protdistDefaultParameters">
<input wsam:Action="http://phylipWrappers/phylip/protdistDefaultParametersRequest" message="tns:protdistDefaultParameters" />
<output wsam:Action="http://phylipWrappers/phylip/protdistDefaultParametersResponse" message="tns:protdistDefaultParametersResponse" />
</operation>
<operation name="RetrieveProtDistResult">
<input wsam:Action="http://phylipWrappers/phylip/RetrieveProtDistResultRequest" message="tns:RetrieveProtDistResult" />
<output wsam:Action="http://phylipWrappers/phylip/RetrieveProtDistResultResponse" message="tns:RetrieveProtDistResultResponse" />
</operation>
</portType>
<binding name="phylipPortBinding" type="tns:phylip">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" />
</fault>
</operation>
<operation name="consenseRootedTrees">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consenseNonRootedTrees">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="protdist">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="fault">
<soap:fault name="fault" use="literal" />
</fault>
</operation>
<operation name="protdistDefaultParameters">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="RetrieveProtDistResult">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="phylip">
<port name="phylipPort" binding="tns:phylipPortBinding">
<soap:address location="http://localhost:8080/wsPHYLIP/phylip" />
</port>
</service>
</definitions>