web/WEB-INF/wsdl/localhost_8080/wsPHYLIP/phylip.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://phylipWrappers/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://phylipWrappers/">

<xs:element name="RetrieveProtDistResult" type="tns:RetrieveProtDistResult" />

<xs:element name="RetrieveProtDistResultResponse" type="tns:RetrieveProtDistResultResponse" />

<xs:element name="consenseNonRootedTrees" type="tns:consenseNonRootedTrees" />

<xs:element name="consenseNonRootedTreesResponse" type="tns:consenseNonRootedTreesResponse" />

<xs:element name="consenseRootedTrees" type="tns:consenseRootedTrees" />

<xs:element name="consenseRootedTreesResponse" type="tns:consenseRootedTreesResponse" />

<xs:element name="fault" type="tns:fault" />

<xs:element name="getStatus" type="tns:getStatus" />

<xs:element name="getStatusResponse" type="tns:getStatusResponse" />

<xs:element name="protdist" type="tns:protdist" />

<xs:element name="protdistDefaultParameters" type="tns:protdistDefaultParameters" />

<xs:element name="protdistDefaultParametersResponse" type="tns:protdistDefaultParametersResponse" />

<xs:element name="protdistResponse" type="tns:protdistResponse" />

<xs:complexType name="protdist">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0" />
<xs:element name="model" type="xs:string" minOccurs="0" />
<xs:element name="GammaDistrOfRates" type="xs:string" minOccurs="0" />
<xs:element name="CoeffOfVariation" type="xs:double" minOccurs="0" />
<xs:element name="fracOfInvSites" type="xs:double" minOccurs="0" />
<xs:element name="oneCatOfSubRates" type="xs:string" minOccurs="0" />
<xs:element name="noOfCat" type="xs:int" minOccurs="0" />
<xs:element name="rateForEachCat" type="xs:string" minOccurs="0" />
<xs:element name="categoriesFile" type="xs:string" minOccurs="0" />
<xs:element name="UseWts4Posn" type="xs:string" minOccurs="0" />
<xs:element name="weightsFile" type="xs:string" minOccurs="0" />
<xs:element name="analyzeMultipleDataSets" type="xs:string" minOccurs="0" />
<xs:element name="DataWeights" type="xs:string" minOccurs="0" />
<xs:element name="noOfMultipleDataSets" type="xs:int" minOccurs="0" />
<xs:element name="inputSequencesInterleaved" type="xs:string" minOccurs="0" />
<xs:element name="transitionTransversion" type="xs:double" minOccurs="0" />
<xs:element name="baseFreq" type="xs:string" minOccurs="0" />
<xs:element name="ProbChangeCat" type="xs:double" minOccurs="0" />
<xs:element name="geneticCode" type="xs:string" minOccurs="0" />
<xs:element name="catOfAminoAcids" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="protdistResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fault">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="protdistDefaultParameters">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0" />
<xs:element name="model" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="protdistDefaultParametersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatus">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consenseNonRootedTrees">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0" />
<xs:element name="consensusType" type="xs:string" minOccurs="0" />
<xs:element name="OutgroupRoot" type="xs:string" minOccurs="0" />
<xs:element name="nofOutgroup" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consenseNonRootedTreesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consenseRootedTrees">
<xs:sequence>
<xs:element name="query" type="xs:string" minOccurs="0" />
<xs:element name="consensusType" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consenseRootedTreesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetrieveProtDistResult">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RetrieveProtDistResultResponse">
<xs:sequence>
<xs:element name="return" type="tns:proteinDistOutput" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="proteinDistOutput">
<xs:sequence>
<xs:element name="proteinDistanceMatrix" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>