web/WEB-INF/wsdl/localhost_8080/wsPHYLIP/phylip.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://phylipWrappers/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://phylipWrappers/" name="phylip">
<wsp:Policy wsu:Id="phylipPortBindingPolicy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://phylipWrappers/" schemaLocation="http://localhost:8080/wsPHYLIP/phylip?xsd=1"/>
</xsd:schema>
</types>
<message name="consenseRootedTrees">
<part name="parameters" element="tns:consenseRootedTrees"/>
</message>
<message name="consenseRootedTreesResponse">
<part name="parameters" element="tns:consenseRootedTreesResponse"/>
</message>
<message name="consenseNonRootedTrees">
<part name="parameters" element="tns:consenseNonRootedTrees"/>
</message>
<message name="consenseNonRootedTreesResponse">
<part name="parameters" element="tns:consenseNonRootedTreesResponse"/>
</message>
<message name="protdist">
<part name="parameters" element="tns:protdist"/>
</message>
<message name="protdistResponse">
<part name="parameters" element="tns:protdistResponse"/>
</message>
<portType name="phylip">
<operation name="consenseRootedTrees">
<input wsam:Action="http://phylipWrappers/phylip/consenseRootedTreesRequest" message="tns:consenseRootedTrees"/>
<output wsam:Action="http://phylipWrappers/phylip/consenseRootedTreesResponse" message="tns:consenseRootedTreesResponse"/>
</operation>
<operation name="consenseNonRootedTrees">
<input wsam:Action="http://phylipWrappers/phylip/consenseNonRootedTreesRequest" message="tns:consenseNonRootedTrees"/>
<output wsam:Action="http://phylipWrappers/phylip/consenseNonRootedTreesResponse" message="tns:consenseNonRootedTreesResponse"/>
</operation>
<operation name="protdist">
<input wsam:Action="http://phylipWrappers/phylip/protdistRequest" message="tns:protdist"/>
<output wsam:Action="http://phylipWrappers/phylip/protdistResponse" message="tns:protdistResponse"/>
</operation>
</portType>
<binding name="phylipPortBinding" type="tns:phylip">
<wsp:PolicyReference URI="#phylipPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consenseRootedTrees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consenseNonRootedTrees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="protdist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="phylip">
<port name="phylipPort" binding="tns:phylipPortBinding">
<soap:address location="http://localhost:8080/wsPHYLIP/phylip"/>
</port>
</service>
</definitions>