web/WEB-INF/wsit-phylipWrappers.phylip.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="phylip" targetNamespace="http://phylipWrappers/" xmlns:tns="http://phylipWrappers/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="consenseRootedTrees"/>
    <message name="consenseRootedTreesResponse"/>
    <message name="consenseNonRootedTrees"/>
    <message name="consenseNonRootedTreesResponse"/>
    <message name="protdist"/>
    <message name="protdistResponse"/>
    <message name="retrieveResult"/>
    <message name="retrieveResultResponse"/>
    <message name="protDistDefaultParameters"/>
    <message name="protDistDefaultParametersResponse"/>
    <portType name="phylip">
        <operation name="consenseRootedTrees">
            <input message="tns:consenseRootedTrees"/>
            <output message="tns:consenseRootedTreesResponse"/>
        </operation>
        <operation name="consenseNonRootedTrees">
            <input message="tns:consenseNonRootedTrees"/>
            <output message="tns:consenseNonRootedTreesResponse"/>
        </operation>
        <operation name="protdist">
            <input message="tns:protdist"/>
            <output message="tns:protdistResponse"/>
        </operation>
        <operation name="retrieveResult">
            <input message="tns:retrieveResult"/>
            <output message="tns:retrieveResultResponse"/>
        </operation>
        <operation name="protDistDefaultParameters">
            <input message="tns:protDistDefaultParameters"/>
            <output message="tns:protDistDefaultParametersResponse"/>
        </operation>
    </portType>
    <binding name="phylipPortBinding" type="tns:phylip">
        <wsp:PolicyReference URI="#phylipPortBindingPolicy"/>
        <operation name="consenseRootedTrees">
            <input/>
            <output/>
        </operation>
        <operation name="consenseNonRootedTrees">
            <input/>
            <output/>
        </operation>
        <operation name="protdist">
            <input/>
            <output/>
        </operation>
        <operation name="retrieveResult">
            <input/>
            <output/>
        </operation>
        <operation name="protDistDefaultParameters">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="phylip">
        <port name="phylipPort" binding="tns:phylipPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="phylipPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
