Deployable/phylipProtPars/serviceJar/wsPhylipProtPars.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsannotations.ctegd.uga.edu/services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsannotations.ctegd.uga.edu/services/" name="wsPhylipProtPars">
<types>
<xs:schema xmlns:tns="http://wsannotations.ctegd.uga.edu/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsannotations.ctegd.uga.edu/services/">

<xs:element name="ErrorRetrievingJob" nillable="true" type="tns:fault"/>

<xs:element name="ImproperInputsFault" nillable="true" type="tns:fault"/>

<xs:element name="UnexpectedErrorFault" nillable="true" type="tns:fault"/>

<xs:element name="getStatus" type="tns:getStatus"/>

<xs:element name="getStatusResponse" type="tns:getStatusResponse"/>

<xs:element name="retrieveProtParsResult" type="tns:retrieveProtParsResult"/>

<xs:element name="retrieveProtParsResultResponse" type="tns:retrieveProtParsResultResponse"/>

<xs:element name="runProtPars" type="tns:runProtPars"/>

<xs:element name="runProtParsResponse" type="tns:runProtParsResponse"/>

<xs:complexType name="getStatus">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatusResponse">
<xs:sequence>
<xs:element name="jobStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fault">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="runProtPars">
<xs:sequence>
<xs:element name="multipleAlignedSequences" type="xs:string" minOccurs="0"/>
<xs:element name="geneticCode" type="xs:string" minOccurs="0"/>
<xs:element name="threshold" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="runProtParsResponse">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveProtParsResult">
<xs:sequence>
<xs:element name="jobId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveProtParsResultResponse">
<xs:sequence>
<xs:element name="return" type="tns:phylipOutput" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="phylipOutput">
<xs:sequence>
<xs:element name="consenseTree" type="xs:string" minOccurs="0"/>
<xs:element name="outTree" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"/>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"/>
</message>
<message name="ImproperInputEx">
<part name="fault" element="tns:ImproperInputsFault"/>
</message>
<message name="retrieveProtParsResult">
<part name="parameters" element="tns:retrieveProtParsResult"/>
</message>
<message name="retrieveProtParsResultResponse">
<part name="parameters" element="tns:retrieveProtParsResultResponse"/>
</message>
<message name="UnexpectedErrorEx">
<part name="fault" element="tns:UnexpectedErrorFault"/>
</message>
<message name="ErrorRetrievingJob">
<part name="fault" element="tns:ErrorRetrievingJob"/>
</message>
<message name="runProtPars">
<part name="parameters" element="tns:runProtPars"/>
</message>
<message name="runProtParsResponse">
<part name="parameters" element="tns:runProtParsResponse"/>
</message>
<portType name="wsPhylipProtPars">
<operation name="getStatus">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/getStatusResponse" message="tns:getStatusResponse"/>
<fault message="tns:ImproperInputEx" name="ImproperInputEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/getStatus/Fault/ImproperInputEx"/>
</operation>
<operation name="retrieveProtParsResult">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/retrieveProtParsResultRequest" message="tns:retrieveProtParsResult"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/retrieveProtParsResultResponse" message="tns:retrieveProtParsResultResponse"/>
<fault message="tns:UnexpectedErrorEx" name="UnexpectedErrorEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/retrieveProtParsResult/Fault/UnexpectedErrorEx"/>
<fault message="tns:ErrorRetrievingJob" name="ErrorRetrievingJob" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/retrieveProtParsResult/Fault/ErrorRetrievingJob"/>
<fault message="tns:ImproperInputEx" name="ImproperInputEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/retrieveProtParsResult/Fault/ImproperInputEx"/>
</operation>
<operation name="runProtPars">
<input wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/runProtParsRequest" message="tns:runProtPars"/>
<output wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/runProtParsResponse" message="tns:runProtParsResponse"/>
<fault message="tns:UnexpectedErrorEx" name="UnexpectedErrorEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/runProtPars/Fault/UnexpectedErrorEx"/>
<fault message="tns:ImproperInputEx" name="ImproperInputEx" wsam:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipProtPars/runProtPars/Fault/ImproperInputEx"/>
</operation>
</portType>
<binding name="wsPhylipProtParsPortBinding" type="tns:wsPhylipProtPars">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ImproperInputEx">
<soap:fault name="ImproperInputEx" use="literal"/>
</fault>
</operation>
<operation name="retrieveProtParsResult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnexpectedErrorEx">
<soap:fault name="UnexpectedErrorEx" use="literal"/>
</fault>
<fault name="ErrorRetrievingJob">
<soap:fault name="ErrorRetrievingJob" use="literal"/>
</fault>
<fault name="ImproperInputEx">
<soap:fault name="ImproperInputEx" use="literal"/>
</fault>
</operation>
<operation name="runProtPars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnexpectedErrorEx">
<soap:fault name="UnexpectedErrorEx" use="literal"/>
</fault>
<fault name="ImproperInputEx">
<soap:fault name="ImproperInputEx" use="literal"/>
</fault>
</operation>
</binding>
<service name="wsPhylipProtPars">
<port name="wsPhylipProtParsPort" binding="tns:wsPhylipProtParsPortBinding">
<soap:address location="http://localhost:8080/wsPHYLIP/wsPhylipProtPars"/>
</port>
</service>
</definitions>
