Deployable/phylipConsense/ServiceJar/wsPhylipConsense.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://wsannotations.ctegd.uga.edu/services/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://wsannotations.ctegd.uga.edu/services/">
    <wsdl:types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://wsannotations.ctegd.uga.edu/services/">
            <xsd:element name="ErrorRetrievingJob" nillable="true" type="tns:fault"/>
            <xsd:element name="ImproperInputsFault" nillable="true" type="tns:fault"/>
            <xsd:element name="UnexpectedErrorFault" nillable="true" type="tns:fault"/>
            <xsd:element name="consenseNonRootedTrees" type="tns:consenseNonRootedTrees"/>
            <xsd:element name="consenseNonRootedTreesResponse" type="tns:consenseNonRootedTreesResponse"/>
            <xsd:element name="consenseRootedTrees" type="tns:consenseRootedTrees"/>
            <xsd:element name="consenseRootedTreesResponse" type="tns:consenseRootedTreesResponse"/>
            <xsd:element name="getStatus" type="tns:getStatus"/>
            <xsd:element name="getStatusResponse" type="tns:getStatusResponse"/>
            <xsd:element name="retrieveConsenseResult" type="tns:retrieveConsenseResult"/>
            <xsd:element name="retrieveConsenseResultResponse" type="tns:retrieveConsenseResultResponse"/>
            <xsd:complexType name="consenseRootedTrees">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="query" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="consensusType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consenseRootedTreesResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="tns:runPhylipOutput"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="runPhylipOutput">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobId" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="retrieveConsenseResult">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="retrieveConsenseResultResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="tns:phylipOutput"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="phylipOutput">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="consenseTree" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="outTree" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="fault">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="code" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getStatus">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getStatusResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="jobStatus" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consenseNonRootedTrees">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="query" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="consensusType" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="OutgroupRoot" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="nofOutgroup" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="consenseNonRootedTreesResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="tns:runPhylipOutput"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="consenseNonRootedTrees">
        <wsdl:part name="parameters" element="tns:consenseNonRootedTrees"/>
    </wsdl:message>
    <wsdl:message name="consenseNonRootedTreesResponse">
        <wsdl:part name="parameters" element="tns:consenseNonRootedTreesResponse"/>
    </wsdl:message>
    <wsdl:message name="retrieveConsenseResult">
        <wsdl:part name="parameters" element="tns:retrieveConsenseResult"/>
    </wsdl:message>
    <wsdl:message name="retrieveConsenseResultResponse">
        <wsdl:part name="parameters" element="tns:retrieveConsenseResultResponse"/>
    </wsdl:message>
    <wsdl:message name="ErrorRetrievingJob">
        <wsdl:part name="fault" element="tns:ErrorRetrievingJob"/>
    </wsdl:message>
    <wsdl:message name="UnexpectedErrorEx">
        <wsdl:part name="fault" element="tns:UnexpectedErrorFault"/>
    </wsdl:message>
    <wsdl:message name="ImproperInputEx">
        <wsdl:part name="fault" element="tns:ImproperInputsFault"/>
    </wsdl:message>
    <wsdl:message name="getStatus">
        <wsdl:part name="parameters" element="tns:getStatus"/>
    </wsdl:message>
    <wsdl:message name="getStatusResponse">
        <wsdl:part name="parameters" element="tns:getStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="consenseRootedTrees">
        <wsdl:part name="parameters" element="tns:consenseRootedTrees"/>
    </wsdl:message>
    <wsdl:message name="consenseRootedTreesResponse">
        <wsdl:part name="parameters" element="tns:consenseRootedTreesResponse"/>
    </wsdl:message>
    <wsdl:portType name="wsPhylipConsensePortType">
        <wsdl:operation name="consenseNonRootedTrees">
            <wsdl:input message="tns:consenseNonRootedTrees" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/consenseNonRootedTreesRequest"/>
            <wsdl:output message="tns:consenseNonRootedTreesResponse" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/consenseNonRootedTreesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveConsenseResult">
            <wsdl:input message="tns:retrieveConsenseResult" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/retrieveConsenseResultRequest"/>
            <wsdl:output message="tns:retrieveConsenseResultResponse" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/retrieveConsenseResultResponse"/>
            <wsdl:fault message="tns:ErrorRetrievingJob" name="ErrorRetrievingJob" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/retrieveConsenseResult/Fault/ErrorRetrievingJob"/>
            <wsdl:fault message="tns:UnexpectedErrorEx" name="UnexpectedErrorEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/retrieveConsenseResult/Fault/UnexpectedErrorEx"/>
            <wsdl:fault message="tns:ImproperInputEx" name="ImproperInputEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/retrieveConsenseResult/Fault/ImproperInputEx"/>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <wsdl:input message="tns:getStatus" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/getStatusRequest"/>
            <wsdl:output message="tns:getStatusResponse" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/getStatusResponse"/>
            <wsdl:fault message="tns:ImproperInputEx" name="ImproperInputEx" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/getStatus/Fault/ImproperInputEx"/>
        </wsdl:operation>
        <wsdl:operation name="consenseRootedTrees">
            <wsdl:input message="tns:consenseRootedTrees" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/consenseRootedTreesRequest"/>
            <wsdl:output message="tns:consenseRootedTreesResponse" wsaw:Action="http://wsannotations.ctegd.uga.edu/services/wsPhylipConsense/consenseRootedTreesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="wsPhylipConsensePortBinding" type="tns:wsPhylipConsensePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consenseNonRootedTrees">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveConsenseResult">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ErrorRetrievingJob">
                <soap:fault use="literal" name="ErrorRetrievingJob"/>
            </wsdl:fault>
            <wsdl:fault name="UnexpectedErrorEx">
                <soap:fault use="literal" name="UnexpectedErrorEx"/>
            </wsdl:fault>
            <wsdl:fault name="ImproperInputEx">
                <soap:fault use="literal" name="ImproperInputEx"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ImproperInputEx">
                <soap:fault use="literal" name="ImproperInputEx"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consenseRootedTrees">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="wsPhylipConsense">
        <wsdl:port name="wsPhylipConsensePort" binding="tns:wsPhylipConsensePortBinding">
            <soap:address location="http://wsannotations.ctegd.uga.edu/axis2/services/wsPhylipConsense.wsPhylipConsensePort/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
